<!doctype <!DOCTYPE html>
<html>
<head>
	<title>Quiz 1</title>

	<meta charset="utf-8">

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="/static/quiz.css">

</head>
<body>
<br>
<Br>

<div class="box">


<h1>{{ question_number }}. {{ question }}</h1>

<form action="{% url "question_page" quiz.slug question_number %}" method="post">
{% csrf_token %}

<p>
	<label>
		<input type="radio" name="answer" value="1">
		{{ answer1 }}
	</label>
</p>
<p>
	<label>
		<input type="radio" name="answer" value="2">
		{{ answer2 }}
	</label>
</p>
<p>
	<label>
		<input type="radio" name="answer" value="3">
		{{ answer3 }}
	</label>
</p>



<button type="submit">Nästa</button>


</div>



<br>



</body>
</html>