<!doctype <!DOCTYPE html>
<html>
<head>
	<title>Startsida Quiz</title>


	<meta charset="utf-8">

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="static/quiz.css">

</head>
<body>

<br>
<br>
</body>


<div class="box">
    
    <h1>Välkommen till Gabrielas Quiz!</h1>

{% for quiz in quizzes %}   

   	 <p><a href="{% url "quiz_page" quiz.slug%}">
		{{ quiz.name }}
	</a></p>
{% endfor %}
 
{% for quiz in quizzes %}
	<p><a href="{% url "quiz_page" quiz.slug %}">{{ quiz.name }}</a></p>
{% empty %}
	<p><em>Det finns inga frågesporter ännu.</em></p>
{% endfor %}


</div>



</html>