<!doctype <!DOCTYPE html>
<html>
<head>
	<title>Startsida Quiz</title>


	<meta charset="utf-8">

<link rel="stylesheet" href="normalize.css">
<link rel="stylesheet" href="static/quiz.css">

</head>
<body>

<img src="static/banner.jpg">

<br>
<br>

<h1>Välkommen till Gabrielas Quiz!</h1>
 


<div class="punktlista">
<ul>
<li class="bold"><a href="file:///Users/gabrielamunnich/Documents/Projekt/MyQuiz/Quiz1start.html">Quiz 1</a></li>
<li class="bold">Quiz 2</li>
<li class="bold">Quiz 3</li>
<li class="bold">Quiz 4</li>
</ul>
</div>


</body>
</html>