body {
 background: url(/static/background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
	
text-align: right;
color: #0033CC

}


html { 
 
}

.box { position: fixed;
  bottom: 0;
  right: 10px;

}
 

a {color: #0033CC}

